<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    no index this page and others - todo : suppr -->
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <!--    no index this page and others - todo : suppr -->
    <title>Static - Les YD Rangées</title>
    <link rel="icon" type="image/svg+xml" href="./images/logoWhite.svg" />
    <!-- Include CSS -->
    <link rel="stylesheet" type="text/css" href="./css/tailwind.css">
    <link rel="stylesheet" type="text/css" href="./footer.css">
    <link rel="stylesheet" type="text/css" href="./nav.css">
    <link rel="stylesheet" type="text/css" href="./index.css">
    <link rel="stylesheet" type="text/css" href="./text_gradient.css">
    <link rel="stylesheet" type="text/css" href="./landing.css">
    <link rel="stylesheet" type="text/css" href="./menu_icon.css">

    <!--    // fonts Google -->
    <!-- Playfair 400;700 | Cormorant 600   -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@600&family=Playfair+Display+SC:wght@400;700&display=swap" rel="stylesheet">
    <!--    // fonts Adobe -->
    <!-- Jubilat 400;500  -->
    <script src="https://use.typekit.net/mjy4bua.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
