<!doctype html>
<html lang="FR">
<module href="/components/activity/head_activity.html"></module>
<module href="/components/activity/nav_activity.html"></module>

<section class="w-full lg:h-screen grid grid-cols-1 lg:grid-cols-2 gap-30 relative mb-10 lg:mb-20 p-4 lg:p-0">
    <div class="w-full h-full lg:pl-40 flex justify-center items-center flex-wrap">
        <div>
            <div class="w-full mt-28 lg:m-0">
                <h2 class="_yd-gradient-textcolor-400-alt w-full text-center lg:text-left text-xl lg:text-7xl leading-tight font-bold uppercase"
                    data-aos-once="true" data-aos="zoom-in">
                    Tout&nbsp;y&nbsp;déranger pour mieux tout&nbsp;y&nbsp;ranger
                </h2>
            </div>
            <div class="mt-10 w-full flex flex-col relative lg:hidden">
                <div class="w-full flex">
                    <div class="_yd_circle_top rounded-full">
                        <div class="relative">
                            <img class="h-36 w-36 object-cover object-center rounded-full"
                                 src="./images/photos_home_office_organizers/bibliotheque_home_office_organizers.jpg"
                                 alt="bibliotheque - home & office organizers">
                        </div>
                    </div>
                </div>
                <div class="w-full flex justify-end">
                    <div class="_yd_circle_bot rounded-full">
                        <div class="relative">
                            <img class="max-w-max h-40 w-40 object-cover object-center rounded-full"
                                 src="./images/photos_home_office_organizers/rangement_home_office_organizers.jpg"
                                 alt="Rangement - home & office organizers">
                        </div>
                    </div>
                </div>
                <div class="absolute top top-1/2 left-1/2 transform -translate-x-1/3 -translate-y-2/3">
                    <div class="_yd_circle_middle rounded-full">
                        <div class="relative mt-20">
                            <img class="max-w-max h-40 w-40 object-cover object-center rounded-full"
                                 src="./images/photos_home_office_organizers/etagere_home_office_organizers.jpg"
                                 alt="Etagère - home & office organizers">
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full flex flex-col justify-center items-center lg:justify-start lg:flex-row mt-20">
                <div class="w-full mb-3 lg:pl-10 lg:w-1/3 lg:m-0">
                    <p class="text-yd_blue-400 text-lg text-center lg:text-left lg:text-xl" data-aos-once="true"
                       data-aos="zoom-in" data-aos-delay="100">
                        Venez découvrir ce que nous pouvons apporter à votre quotidien&nbsp;!
                    </p>
                </div>
                <button class="text-yd_pink-50 uppercase bg-yd_pink-600 m-0 py-2 px-2 text-sm lg:ml-10 rounded-xl lg:py-3 lg:px-5 lg:text-lg"
                        data-aos-once="true" data-aos="zoom-in" data-aos-delay="200">
                    contactez-nous !
                </button>
            </div>

            <div class="w-full flex justify-center items-center text-center flex-col text-yd_purple-400 text-lg font-bold mt-20 lg:hidden">
                <p>Voir nos dernières actus !</p>
                <a class="arrowDown" href="#slider-phone" rel="noopener">
                    <img class="h-10 w-10 my-4" src="./images/arrowDown.svg"
                         alt="Voir nos actualitées d'home & office organizers - Coach en rangement">
                </a>
            </div>
        </div>
    </div>
    <div class="w-full relative hidden lg:block">
        <div class="_yd_circle_top rounded-full absolute top-0 left-0 lg:top-24 lg:left-60 z-30">
            <div class="relative">
                <img class="h-300px w-300px object-cover object-center rounded-full"
                     src="./images/photos_home_office_organizers/rangement_home_office_organizers.jpg"
                     alt="Rangement - home & office organizers">
            </div>
        </div>
        <div class="_yd_circle_middle rounded-full absolute top-1/4 right-10 z-20">
            <div class="relative">
                <img class="h-500px w-500px object-cover object-center rounded-full"
                     src="./images/photos_home_office_organizers/bibliotheque_home_office_organizers.jpg"
                     alt="bibliotheque - home & office organizers">
            </div>
        </div>
        <div class="_yd_circle_bot absolute bottom-12 left-24 z-10">
            <div class="relative">
                <img class="h-450px w-450px object-cover object-center rounded-full"
                     src="./images/photos_home_office_organizers/etagere_home_office_organizers.jpg"
                     alt="Etagère - home & office organizers">
            </div>
        </div>
    </div>
    <div class="absolute inset-x-0 bottom-0 hidden lg:block">
        <div class="w-full flex justify-center items-center text-center flex-col text-yd_purple-400 text-lg font-bold">
            <p>Voir nos dernières actus !</p>
            <a class="arrowDown" href="#slider" rel="noopener">
                <img class="h-10 w-10 my-4" src="./images/arrowDown.svg"
                     alt="Voir nos actualitées d'home & office organizers - Coach en rangement">
            </a>
        </div>
    </div>
</section>

<!-- Section, que faisons nous ? -->
<section class="w-full grid grid-cols-1 lg:grid-cols-2 gap-30 p-4 relative">
    <div class="w-full h-full lg:pr-40 flex justify-center items-start lg:row-span-1 lg:col-span-1 lg:row-start-1 lg:col-start-2">
        <div>
            <div class="w-full">
                <h2 class="_yd-gradient-textcolor-400-alt w-full text-right text-2xl lg:text-7xl leading-tight font-bold uppercase"
                    data-aos-once="true" data-aos="zoom-in-down">
                    Que&nbsp;faisons&nbsp;-&nbsp;nous pour vous&nbsp;?
                </h2>
            </div>
        </div>
    </div>
    <div></div>
    <div class="w-full h-full lg:pl-40 flex justify-center items-start">
        <div>
            <div class="w-full mt-10">
                <h1 class="text-yd_purple-700 w-full text-center text-sm lg:text-5xl leading-tight font-bold"
                    data-aos-once="true"
                    data-aos="zoom-in-down" data-aos-delay="100">
                    Home & Office Organizers
                </h1>
                <div class="text-lg lg:text-xl text-left mt-6 lg:mt-20 _yd-gradient-textcolor-700 leading-relaxed pb-6 lg:pb-40"
                     data-aos-once="true"
                     data-aos="fade-right" data-aos-delay="200">
                    <p>
                        Le Home Organizing est un ensemble de techniques qui consiste à trier, désencombrer et ranger.
                    </p>
                    <br>
                    <p>
                        Ce concept permet d’améliorer l’organisation de son logement et de sa vie quotidienne. Il
                        participe
                        à
                        votre développement personnel.
                    </p>
                    <br>
                    <p>
                        Ces techniques s'adaptent aussi aux bureaux d'entreprises.
                    </p>
                    <br>
                    <p>
                        Vous aimeriez retrouver un espace de vie plus harmonieux mais vous ne savez pas par où commencer
                        ?
                        Vous êtes dépassé(e) par les évènements, soumis(e) à la charge mentale, et vous avez besoin de
                        vous
                        ressourcer dans votre cocon ?
                    </p>
                    <br>
                    <p>
                        Lors de notre mission, nous nous occupons de trier, désencombrer, optimiser et réorganiser vos
                        rangements pour vous libérer de ces tâches.
                        Vous allez ainsi retrouver de la clarté et de la sérénité.
                        Nous vous orientons vers un nouveau mode de vie plus confortable en vous conseillant de A à Z
                        pour
                        réorganiser vos espaces de vie.
                    </p>
                    <br>
                    <p>
                        Dans notre démarche éthique et écologique, nous nous chargeons de donner une deuxième vie aux
                        objets
                        que vous ne souhaitez plus.
                    </p>
                    <br>
                    <p>
                        Nous vous accompagnons en toute bienveillance et en toute confidentialité pour atteindre la
                        quiétude
                        et le confort recherchés.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="_yd-filled-box" class="hidden lg:block relative h-full w-full">
        <div class="relative"></div>
        <div class="relative"></div>
        <div class="relative"></div>
        <div class="relative"></div>
        <div class="relative"></div>
        <div class="relative"></div>
        <div class="relative"></div>
        <div class="relative"></div>
        <div id="slider" class="relative"></div>
    </div>
</section>

<!-- slider -->
<section class="w-full md:px-40 mb-20 lg:mb-40">
    <div class="w-full flex justify-center items-center mb-4 lg:mb-20">
        <hr class="w-1/2 lg:w-1/3 border-yd_pink-500 border">
    </div>
    <!--    Slider -->
    <div id="slider-phone" class="w-full flex justify-center items-center" data-aos-once="true" data-aos="zoom-in">
        <div>
            <div class="slider mt-10 shadow-2xl rounded relative">
                <!-- first image -->
                <input type="radio" name="slide_switch" id="id1" checked="checked"/>
                <label for="id1">
                    <img class="h-40px lg:h-50px w-35px lg:w-100px object-cover object-center" src="./images/1.png"
                         alt="image_1"/>
                </label>
                <div class="_big flex justify-start items-center w-full h-full">
                    <div class="w-1/3 block ml-2 lg:ml-10">
                        <img class="border-2 border-yd_purple-700 rounded-full w-24 h-24 lg:h-48 lg:w-48 object-center object-cover"
                             src="./images/1.png" alt="image_1"/>
                    </div>
                    <div class="flex flex-col justify-center lg:justify-start w-2/3 h-full p-2 lg:p-10 text-yd_purple-700">
                        <h2 class="text-center font-bold text-lg lg:text-3xl mb-5">Title</h2>
                        <!-- 500 char max -->
                        <p class="text-xs lg:text-sm text-left mx-2 lg:mx-4">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                            nibh
                            euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
                            enim ad
                            minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                            ut
                        </p>
                        <div class="flex justify-center items-center mt-5 w-full">
                            <a href="blog.html"
                               class="rounded py-1 px-3 bg-yd_pink-600 text-yd_pink-50 uppercase text-sm"
                               rel="noopener">
                                Voir l'article
                            </a>
                        </div>
                    </div>
                </div>
                <!--                second image -->
                <input type="radio" name="slide_switch" id="id2"/>
                <label for="id2">
                    <img class="h-40px lg:h-50px w-35px lg:w-100px object-cover object-center" src="./images/2.png"
                         alt="image_2"/>
                </label>
                <div class="_big flex justify-start items-center w-full h-full">
                    <div class="w-1/3 block ml-2 lg:ml-10">
                        <img class="border-2 border-yd_purple-700 rounded-full w-24 h-24 lg:h-48 lg:w-48 object-center object-cover"
                             src="./images/2.png" alt="image_2"/>
                    </div>
                    <div class="flex flex-col justify-center lg:justify-start w-2/3 h-full p-2 lg:p-10 text-yd_purple-700">
                        <h2 class="text-center font-bold text-lg lg:text-3xl mb-5">Title</h2>
                        <!-- 500 char max -->
                        <p class="text-xs lg:text-sm text-left mx-2 lg:mx-4">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                            nibh
                            euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
                            enim ad
                            minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                            ut
                        </p>
                        <div class="flex justify-center items-center mt-5 w-full">
                            <a href="blog.html"
                               class="rounded py-1 px-3 bg-yd_pink-600 text-yd_pink-50 uppercase text-sm"
                               rel="noopener">
                                Voir l'article
                            </a>
                        </div>
                    </div>
                </div>
                <!--                third image -->
                <input type="radio" name="slide_switch" id="id3"/>
                <label for="id3">
                    <img class="h-40px lg:h-50px w-35px lg:w-100px object-cover object-center" src="./images/3.png"
                         alt="image_3"/>
                </label>
                <div class="_big flex justify-start items-center w-full h-full">
                    <div class="w-1/3 block ml-2 lg:ml-10">
                        <img class="border-2 border-yd_purple-700 rounded-full w-24 h-24 lg:h-48 lg:w-48 object-center object-cover"
                             src="./images/3.png" alt="image_3"/>
                    </div>
                    <div class="flex flex-col justify-center lg:justify-start w-2/3 h-full p-2 lg:p-10 text-yd_purple-700">
                        <h2 class="text-center font-bold text-lg lg:text-3xl mb-5">Title</h2>
                        <!-- 500 char max -->
                        <p class="text-xs lg:text-sm text-left mx-2 lg:mx-4">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                            nibh
                            euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
                            enim ad
                            minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                            ut
                        </p>
                        <div class="flex justify-center items-center mt-5 w-full">
                            <a href="blog.html"
                               class="rounded py-1 px-3 bg-yd_pink-600 text-yd_pink-50 uppercase text-sm"
                               rel="noopener">
                                Voir l'article
                            </a>
                        </div>
                    </div>
                </div>
                <!--                fourth image -->
                <input type="radio" name="slide_switch" id="id4"/>
                <label for="id4">
                    <img class="h-40px lg:h-50px w-35px lg:w-100px object-cover object-center" src="./images/4.png"
                         alt="image_4"/>
                </label>
                <div class="_big flex justify-start items-center w-full h-full">
                    <div class="w-1/3 block ml-2 lg:ml-10">
                        <img class="border-2 border-yd_purple-700 rounded-full w-24 h-24 lg:h-48 lg:w-48 object-center object-cover"
                             src="./images/4.png" alt="image_4"/>
                    </div>
                    <div class="flex flex-col justify-center lg:justify-start w-2/3 h-full p-2 lg:p-10 text-yd_purple-700">
                        <h2 class="text-center font-bold text-lg lg:text-3xl mb-5">Title</h2>
                        <!-- 500 char max -->
                        <p class="text-xs lg:text-sm text-left mx-2 lg:mx-4">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                            nibh
                            euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
                            enim ad
                            minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                            ut
                        </p>
                        <div class="flex justify-center items-center mt-5 w-full">
                            <a href="blog.html"
                               class="rounded py-1 px-3 bg-yd_pink-600 text-yd_pink-50 uppercase text-sm"
                               rel="noopener">
                                Voir l'article
                            </a>
                        </div>
                    </div>
                </div>
                <!--                fifth image -->
                <input type="radio" name="slide_switch" id="id5"/>
                <label for="id5">
                    <img class="h-40px lg:h-50px w-35px lg:w-100px object-cover object-center" src="./images/5.png"
                         alt="image_5"/>
                </label>
                <div class="_big flex justify-start items-center w-full h-full">
                    <div class="w-1/3 block ml-2 lg:ml-10">
                        <img class="border-2 border-yd_purple-700 rounded-full w-24 h-24 lg:h-48 lg:w-48 object-center object-cover"
                             src="./images/5.png" alt="image_5"/>
                    </div>
                    <div class="flex flex-col justify-center lg:justify-start w-2/3 h-full p-2 lg:p-10 text-yd_purple-700">
                        <h2 class="text-center font-bold text-lg lg:text-3xl mb-5">Title</h2>
                        <!-- 500 char max -->
                        <p class="text-xs lg:text-sm text-left mx-2 lg:mx-4">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                            nibh
                            euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
                            enim ad
                            minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                            ut
                            euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
                            enim ad
                        </p>
                        <div class="flex justify-center items-center mt-5 w-full">
                            <a href="blog.html"
                               class="rounded py-1 px-3 bg-yd_pink-600 text-yd_pink-50 uppercase text-sm"
                               rel="noopener">
                                Voir l'article
                            </a>
                        </div>
                    </div>
                </div>

                <button id="_btn_arrow_right"
                        class="_btn_arrow_left absolute bottom-0 -left-0 transform translate-y-65px -translate-x-10px scale-75 lg:-translate-x-35px flex justify-center items-center">
                    <img class="w-10 h-10" src="./images/arrowLeft.svg" alt="arrow left">
                </button>
                <button id="_btn_arrow_left"
                        class="_btn_arrow_right absolute bottom-0 right-0 transform translate-y-65px translate-x-10px scale-75 lg:translate-x-30px flex justify-center items-center">
                    <img class="w-10 h-10" src="./images/arrowRight.svg" alt="arrow right">
                </button>
            </div>
        </div>
    </div>
</section>
<module href="/components/activity/footer_activity.html"></module>

