<!doctype html>
<html lang="FR">
<module href="/components/blog/head_blog.html"></module>
<module href="/components/blog/nav_blog.html"></module>

<!-- slider -->
<section id="articles" class="w-full md:px-40 pt-40">
    <img class="w-96 h-96 object-center object-cover rounded-full shadow-2xl" src="./images/1.png" alt="image article 1">
</section>

<!-- todo block background-->
<div id="yd_rect" class="absolute w-full h-full top-0 left-0 z-0 flex justify-center items-center">
    <div class="w-full h-full relative">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<module href="/components/blog/footer_blog.html"></module>

