<!doctype html>
<html lang="FR">
<module href="/components/blog_general/head_blog_general.html"></module>
<module href="/components/blog_general/nav_blog_general.html"></module>

<!-- slider -->
<section id="articles" class="w-full md:px-40 py-10 lg:py-40 grid grid-cols-1 px-4 relative z-20">
    <div class="w-full flex justify-center items-center py-20">
        <h2 class="text-4xl lg:text-5xl text-center font-bold z-20" data-aos-once="true" data-aos="zoom-in">Nos derniers articles !</h2>
    </div>
    <section class="gridArticle w-full p-4 md:p-10 gap-20">
        <a href="/blog.html"
           class="_yd_blog_article_card_background shadow-xl relative z-20" rel="noopener"
        data-aos-once="true" data-aos="flip-down" data-aos-delay="100">
            <div class="flex justify-center items-center">
                <img class="rounded object-cover object-center w-full h-300px" src="./images/5.png" alt="5.png">
            </div>
            <h2 class="text-sm pt-5 px-5">Title - Article</h2>
            <p class="text-xs p-5">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias asperiores dicta dolorem dolores
                ducimus, expedita fugiat illum ipsa laboriosam laudantium nam nisi numquam ratione rem sapiente sequi
                suscipit, vitae.
            </p>
            <img src="./images/arrowRight.svg"
                 alt="arrow" class="arrow absolute bottom-0 right-0 h-8 w-8 mb-4 mr-4">
        </a>
        <a href="/blog.html"
           class="_yd_blog_article_card_background shadow-xl relative z-20" rel="noopener"
        data-aos-once="true" data-aos="flip-down" data-aos-delay="200">
            <div class="flex justify-center items-center">
                <img class="rounded object-cover object-center w-full h-300px" src="./images/4.png" alt="4.png">
            </div>
            <h2 class="text-sm pt-5 px-5">Title - Article</h2>
            <p class="text-xs p-5">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias asperiores dicta dolorem dolores
                ducimus, expedita fugiat illum ipsa laboriosam laudantium nam nisi numquam ratione rem sapiente sequi
                suscipit, vitae.
            </p>
            <img src="./images/arrowRight.svg"
                 alt="arrow" class="arrow absolute bottom-0 right-0 h-8 w-8 mb-4 mr-4">
        </a>

        <a href="/blog.html"
           class="_yd_blog_article_card_background shadow-xl relative z-20" rel="noopener"
        data-aos-once="true" data-aos="flip-down" data-aos-delay="300">
            <div class="flex justify-center items-center">
                <img class="rounded object-cover object-center w-full h-300px" src="./images/7.png" alt="7.png">
            </div>
            <h2 class="text-sm pt-5 px-5">Title - Article</h2>
            <p class="text-xs p-5">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias asperiores dicta dolorem dolores
                ducimus, expedita fugiat illum ipsa laboriosam laudantium nam nisi numquam ratione rem sapiente sequi
                suscipit, vitae.
            </p>
            <img src="./images/arrowRight.svg"
                 alt="arrow" class="arrow absolute bottom-0 right-0 h-8 w-8 mb-4 mr-4">
        </a>

        <a href="/blog.html"
           class="_yd_blog_article_card_background shadow-xl relative z-20" rel="noopener"
        data-aos-once="true" data-aos="flip-down" data-aos-delay="400">
            <div class="flex justify-center items-center">
                <img class="rounded object-cover object-center w-full h-300px" src="./images/6.png" alt="6.png">
            </div>
            <h2 class="text-sm pt-5 px-5">Title - Article</h2>
            <p class="text-xs p-5">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias asperiores dicta dolorem dolores
                ducimus, expedita fugiat illum ipsa laboriosam laudantium nam nisi numquam ratione rem sapiente sequi
                suscipit, vitae.
            </p>
            <img src="./images/arrowRight.svg"
                 alt="arrow" class="arrow absolute bottom-0 right-0 h-8 w-8 mb-4 mr-4">
        </a>
    </section>
    <div id="yd_rect" class="absolute w-full h-full top-0 left-0 z-0 flex justify-center items-center">
        <!--    Top rect -->
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <!--    Bot rect -->
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</section>

<module href="/components/blog_general/footer_blog_general.html"></module>

