<!doctype html>
<html lang="FR">
<module href="/components/blog/head_blog.html"></module>
<module href="/components/blog/nav_blog.html"></module>

<!-- slider -->
<section id="articles" class="w-full md:px-40 py-10 lg:py-40 grid grid-cols-1 lg:grid-cols-12 z-10 px-4 relative">
    <div class="lg:col-start-4 lg:col-end-12 grid grid-cols-1 lg:grid-cols-3 bg-yd_pink-50 rounded-2xl shadow-xl relative mt-20 z-10">
        <img class="hidden lg:block _yd_image_article max-w-max lg:absolute lg:top-0 lg:left-0 w-25vw h-25vw object-center object-cover rounded-full shadow-2xl"
             src="./images/1.png"
             alt="image article 1">
        <div class="lg:col-start-2 lg:col-span-2 rounded-2xl _yd-center-justified">
            <div class="p-4 lg:p-10">
                <h1 class="text-2xl font-bold text-center pb-6 lg:pb-20">Organisation des placards</h1>
                <div class="w-full flex lg:hidden justify-center items-center">
                    <img class="max-w-max w-80vw h-80vw object-center object-cover rounded-full shadow-2xl mb-6"
                         src="./images/1.png"
                         alt="image article 1">
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                    tincidunt ut
                    laoreet
                    dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                    ullamcorper
                    suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
                    in hendrerit
                    in
                    vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero
                    eros et
                    accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis
                    dolore te
                    feugait
                    nulla facilisi. Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy
                    nibh euismod
                    tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                    nostrud
                    exerci
                    tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum
                    dolor sit
                    amet,
                </p>
                <br>
                <p>
                    consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                    magna aliquam
                    erat
                    volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                    lobortis nisl ut
                    aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate
                    velit esse
                    molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et
                    iusto odio
                    di
                    gnissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla
                    facilisi. Lorem
                    ipsum
                    dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    laoreet dolore
                    magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                    ullamcorper
                    suscipit

                </p>
                <br>
                <p>
                    lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer
                    adipiscing
                    elit,
                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
                    wisi enim ad
                    minim
                    veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
                    commodo
                    consequat.
                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
                    illum
                    dolore eu
                    feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
                    praesent luptatum
                    zzril
                </p>
                <br>
                <p>
                    delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, cons
                    ectetuer
                    adipiscing
                    elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    Ut wisi
                    enim ad
                    minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
                    commodo
                </p>
                <br>
                <p>
                    consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                    euismod
                    tincidunt
                    ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
                    exerci tation
                    ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
                    iriure dolor
                    in
                    hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla
                    facilisis at
                    vero
                    eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue
                    duis dolore
                    te
                    feugait nulla facilisi.
                </p>
            </div>
        </div>
    </div>
    <div id="yd_rect" class="absolute w-full h-full top-0 left-0 z-0 flex justify-center items-center">
        <!--    Top rect -->
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <!--    Bot rect -->
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</section>


<module href="/components/blog/footer_blog.html"></module>

