<!doctype html>
<html lang="FR">
<module href="/components/prestation/head_prestation.html"></module>
<module href="/components/prestation/nav_prestation.html"></module>

<!-- Background -->
<section class="_yd_background w-full h-screen z-10">
    <div class="relative flex justify-center items-center w-full h-full flex-col p-4 lg:p-0">
        <h1 class="_yd-gradient-textColor-adjust-on-logo-alt-brightness uppercase text-2xl lg:text-7xl text-center"
            data-aos-once="true" data-aos="zoom-in">
            Rencontrons-nous&nbsp;!</h1>
        <div class="_yd-center-justified w-full m-5 md:w-1/3 md:m-0 pt-4 lg:pt-20 text-sm lg:text-2xl text-yd_blue-50 leading-normal"
             data-aos-once="true" data-aos="zoom-in" data-aos-delay="100">
            <p>
                Avant toute chose, une visite diagnostic est indispensable afin de pouvoir évaluer vos besoins et vos
                attentes et de pouvoir vous proposer une prestation sur mesure, entièrement personnalisée selon vos
                goûts et vos envies.
            </p>
            <br>
            <br>
            <p>
                Cette visite diagnostic est à 60€ et se fait sur place ou via visioconférence.
            </p>
            <br>
            <p>( Déduit si acceptation du devis )</p>
        </div>
    </div>
</section>
<!-- Comment ça marche -->
<section class="w-full px-4 py-10 lg:p-40">
    <div class="flex justify-center items-center w-full pb-16 lg:pb-32">
        <h2 class="_yd-gradient-textColor-adjust-on-logo-alt text-center uppercase text-3xl lg:text-5xl"
            data-aos-once="true" data-aos="zoom-in-down">Comment ça
            marche ?</h2>
    </div>
    <!--    grid -->
    <div class="w-full grid grid-cols-1 lg:grid-cols-12">
        <div class="lg:col-span-5 lg:row-span-3 text-yd_purple-600 relative lg:text-xl text-lg row-start-1 lg:row-auto py-8"
             data-aos-once="true" data-aos="flip-up">
            <div class="pl-4 lg:pl-32 text-left">
                <p>
                    <strong><span class="text-yd_pink-600 font-bold">La première consultation</span></strong> est
                    incontournable
                    et nous permet de
                    bien cerner les contours de notre
                    intervention : le temps à consacrer au projet que vous sollicitez & l’équipe à mobiliser.
                </p>
            </div>
            <img class="w-48 h-48 absolute top-1/2 left-0 transform -translate-y-2/3 opacity-25"
                 src="./images/numbers/1.svg" alt="1">
        </div>
        <div class="hidden lg:block lg:col-span-2 lg:row-span-3"></div>
        <div class="lg:col-span-5 lg:row-span-3 text-yd_purple-600 relative lg:text-xl text-lg row-start-3 lg:row-auto py-8"
             data-aos-once="true" data-aos="flip-up" data-aos-delay="400">
            <div class="pl-4 lg:pl-32 text-left">
                <p>
                    Le tri est effectué avec vous et ensuite nous nous occupons de <strong><span
                        class="text-yd_pink-600 font-bold">réorganiser vos espaces</span></strong>
                    avec ou sans
                    votre présence. vous aurez plus de temps à consacrer aux choses qui sont essentielles pour vous et
                    vous garderez une <strong><span
                        class="text-yd_pink-600 font-bold">organisation optimale</span></strong>
                    quotidienne
                </p>
            </div>
            <img class="w-48 h-48 absolute top-1/2 left-0 transform -translate-y-2/3 opacity-25"
                 src="./images/numbers/3.svg" alt="3">
        </div>
        <div class="hidden lg:block col-span-12 row-span-1 text-center mt-16 mb-32">
            <div class="w-full flex justify-center items-center relative">
                <hr class="w-screen _yd_hr_gradient"/>
                <div class="_yd_etape_circle absolute top-1/2 left-0 w-30px h-30px bg-yd_pink-600 rounded-full transform -translate-y-1/2"></div>
                <div class="_yd_etape_circle absolute top-1/2 left-1/3 w-30px h-30px bg-yd_pink-700 rounded-full transform -translate-y-1/2"></div>
                <div class="_yd_etape_circle absolute top-1/2 left-2/3 w-30px h-30px bg-yd_pink-800 rounded-full transform -translate-y-1/2"></div>
                <div class="_yd_etape_circle absolute top-1/2 left-full w-30px h-30px bg-yd_pink-900 rounded-full transform -translate-y-1/2"></div>
            </div>
        </div>
        <div class="lg:block lg:col-span-1 lg:row-span-3"></div>
        <div class="lg:col-span-5 lg:row-span-3 text-yd_purple-600 relative lg:text-xl text-lg row-start-2 lg:row-auto py-8"
             data-aos-once="true" data-aos="flip-up" data-aos-delay="200">
            <div class="pl-4 lg:pl-32 text-left">
                <p>
                    À l’issue de la Première Consultation, un <strong><span
                        class="text-yd_pink-600 font-bold">devis personnalisé</span></strong>
                    vous est envoyé. Les YD rangées facture
                    à la demie journée ou à la journée d’intervention. Les prix varient selon votre localisation et les
                    options choisies.
                </p>
            </div>
            <img class="w-48 h-48 absolute top-1/2 left-0 transform -translate-y-2/3 opacity-25"
                 src="./images/numbers/2.svg" alt="2">
        </div>
        <div class="lg:block lg:col-span-1 lg:row-span-3"></div>
        <div class="lg:col-span-5 lg:row-span-3 text-yd_purple-600 relative lg:text-xl text-lg row-start-4 lg:row-auto py-8"
             data-aos-once="true" data-aos="flip-up" data-aos-delay="600">
            <div class="pl-4 lg:pl-32 text-left">
                <p>
                    Une fois la mission terminée, <strong><span class="text-yd_pink-600 font-bold">nous vous donnons tous les conseils
                    nécessaires pour continuer dans
                    cette lancée</span></strong> et vivre (ou travailler) l'esprit léger dans vos espaces tout en
                    gardant la
                    motivation
                    pour rester organisé !
                </p>
            </div>
            <img class="w-48 h-48 absolute top-1/2 left-0 transform -translate-y-2/3 opacity-25"
                 src="./images/numbers/4.svg" alt="4">
        </div>
    </div>
</section>
<div class="w-full md:px-40 pt-16">
    <div class="w-full flex justify-center items-center">
        <hr class="w-1/2 lg:w-1/3 border-yd_pink-500 border">
    </div>
    <!-- Section -- Right image -->
    <section class="grid grid-cols-1 lg:grid-cols-2 gap-10 lg:gap-40 pt-20 px-4">
        <div class="_yd_presta_images w-full h-90vh flex justify-center items-center relative row-start-2 lg:col-start-2 lg:row-start-1">
            <img class="w-full h-80p object-center object-cover shadow-2xl z-20" src="./images/1.png"
                 alt="Home organizing">
        </div>
        <div class="w-full flex flex-col justify-center items-center text-yd_purple-700 lg:row-start-1 lg:col-start-1">
            <h2 class="font-bold text-center text-2xl lg:text-5xl leading-normal text-yd_purple-800"
                data-aos-once="true" data-aos="zoom-in">Home&nbsp;Organizing
                Retour&nbsp;à&nbsp;l'essentiel</h2>
            <div class="mt-8 lg:mt-20 text-lg lg:text-xl _yd-center-justified"
                 data-aos-once="true" data-aos="zoom-in" data-aos-delay="100">
                <p>
                    Pour toute votre maison ou seulement pour une pièce, pour valoriser
                    un bien ou encore pour désencombrer un logement suite à un décès, nous vous accompagnons sans
                    aucun
                    jugement
                    ni obligation et nous vous aidons à faire des choix.
                </p>
                <br>
                <p>
                    Les YD rangées vous libèrent de la charge mentale liée
                    au désordre de votre cocon.
                </p>
                <div class="mt-8 lg:mt-20">
                    <ul class="text-center">
                        <li class="text-yd_purple-700">• Tri & Désencombrement</li>
                        <li class="text-yd_purple-700">• Catégorisation & Organisation</li>
                        <li class="text-yd_purple-700">• Harmonisation des rangements</li>
                    </ul>
                </div>
                <div class="mt-8 lg:mt-20 text-yd_pink-600">
                    <p>
                        Forfait 1/2 journée (4 heures) : à partir de 290€
                    </p>
                    <p>
                        Forfait journée (8 heures) : à partir de 500€
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Section -- Left image -->
    <section class="grid grid-cols-1 lg:grid-cols-2 gap-10 lg:gap-40 pt-20 px-4">
        <div class="_yd_presta_images w-full h-90vh flex justify-center items-center relative row-start-2 lg:col-start-1 lg:row-start-1">
            <img class="w-full h-80p object-center object-cover shadow-2xl z-20" src="./images/2.png"
                 alt="Home organizing">
        </div>
        <div class="w-full flex flex-col justify-center items-center text-yd_purple-700 lg:row-start-1 lg:col-start-2">
            <h2 class="font-bold text-center text-2xl lg:text-5xl leading-normal text-yd_purple-800"
            data-aos-once="true" data-aos="zoom-in">Office&nbsp;Organizing</h2>
            <div class="mt-8 lg:mt-20 text-lg lg:text-xl _yd-center-justified"
            data-aos-once="true" data-aos="zoom-in" data-aos-delay="100">
                <p>
                    Bureau organisé = Travail optimisé
                </p>
                <p>
                    Vous ne trouvez plus votre agrafeuse ?
                </p>
                <p>
                    Vous avez perdu le dossier Dupont ?
                </p>
                <p>
                    Vous êtes débordé(e) par tout ce désordre ?
                </p>
                <p>
                    Les YD rangées sont là !
                </p>
                <p>
                    Nous effectuons notre mission en toute confidentialité et discrétion.
                </p>
                <p>
                    Avoir les idées claires et l'esprit léger participent à un travail productif.
                </p>
                <div class="mt-8 lg:mt-20">
                    <ul class="text-center">
                        <li class="text-yd_purple-700">• Tri & Classement</li>
                        <li class="text-yd_purple-700">• Catégorisation</li>
                        <li class="text-yd_purple-700">• Possibilité de dématérialisation (Cloud ou disque dur
                            externe)
                        </li>
                        <li class="text-yd_purple-700">• Rangement pratique & optimisé</li>
                    </ul>
                </div>
                <div class="mt-8 lg:mt-20 text-yd_pink-600">
                    <p>
                        Forfait 1/2 journée (4 heures) : à partir de 330€
                    </p>
                    <p>
                        Forfait journée (8 heures) : à partir de 580€
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Section -- Right image -->
    <section class="grid grid-cols-1 lg:grid-cols-2 gap-10 lg:gap-40 pt-20 px-4">
        <div class="_yd_presta_images w-full h-90vh flex justify-center items-center relative row-start-2 lg:col-start-2 lg:row-auto">
            <img class="w-full h-80p object-center object-cover shadow-2xl z-20" src="./images/3.png"
                 alt="Home organizing">
        </div>
        <div class="w-full flex flex-col justify-center items-center text-yd_purple-700 lg:row-start-1">
            <h2 class="font-bold text-center text-2xl lg:text-5xl leading-normal text-yd_purple-800"
            data-aos-once="true" data-aos="zoom-in">Organisation
                administrative</h2>
            <div class="mt-8 lg:mt-20 text-lg lg:text-xl _yd-center-justified"
            data-aos-once="true" data-aos="zoom-in" data-aos-delay="100">
                <p>
                    Fini les Papyrus !
                </p>
                <br>
                <p>
                    Vos papiers s'empilent et s'accumulent ?
                    Vous repoussez toujours à plus tard le classement de vos papiers ?
                </p>
                <p>
                    Ils commencent à se transformer en papyrus ?
                    Les YD rangées sont là pour vous aider à y voir plus clair !
                </p>
                <div class="mt-8 lg:mt-20">
                    <ul class="text-center">
                        <li class="text-yd_purple-700">• Tri & Désencombrement</li>
                        <li class="text-yd_purple-700">• Catégorisation & Classement</li>
                        <li class="text-yd_purple-700">• Possibilité de dématérialisation (Cloud ou disque dur
                            externe)
                        </li>
                        <li class="text-yd_purple-700">• Rangement pratique & harmonieux</li>
                    </ul>
                </div>
                <div class="mt-8 lg:mt-20 text-yd_pink-600">
                    <p>
                        Forfait 1/2 journée (4 heures) : à partir de 290€
                    </p>
                    <p>
                        Forfait journée (8 heures) : à partir de 500€
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Section -- Left image -->
    <section class="grid grid-cols-1 lg:grid-cols-2 gap-10 lg:gap-40 pt-20 px-4">
        <div class="_yd_presta_images w-full h-90vh flex justify-center items-center relative row-start-2 lg:col-start-1 lg:row-start-1">
            <img class="w-full h-80p object-center object-cover shadow-2xl z-20" src="./images/4.png"
                 alt="Home organizing">
        </div>
        <div class="w-full flex flex-col justify-center items-center text-yd_purple-700 lg:row-start-1 lg:col-start-2">
            <h2 class="font-bold text-center text-2xl lg:text-5xl leading-normal text-yd_purple-800"
            data-aos-once="true" data-aos="zoom-in">
                Aide&nbsp;au&nbsp;déménagement</h2>
            <div class="mt-8 lg:mt-20 text-lg lg:text-xl _yd-center-justified"
            data-aos-once="true" data-aos="zoom-in" data-aos-delay="100">
                <p>
                    Nouveau départ serein
                </p>
                <p>
                    Surmené par votre déménagement ?
                    Les YD rangées sont là !
                    Préparation au déménagement :
                </p>
                <div class="mt-8 lg:mt-20">
                    <ul class="text-center">
                        <li class="text-yd_purple-700">• Tri & Catégorisation</li>
                        <li class="text-yd_purple-700">• Mise en carton</li>
                        <li class="text-yd_purple-700">• Lors de l'emménagement :</li>
                        <li class="text-yd_purple-700">• Déballage des cartons</li>
                        <li class="text-yd_purple-700">• Organisation des nouveaux rangements</li>
                    </ul>
                </div>
                <div class="mt-8 lg:mt-20 text-yd_pink-600">
                    <p>
                        Forfait 1/2 journée (4 heures) : à partir de 290€
                    </p>
                    <p>
                        Forfait journée (8 heures) : à partir de 500€
                    </p>
                </div>
            </div>
        </div>
    </section>

    <div class="w-full flex justify-center items-center py-10 lg:py-20">
        <hr class="w-1/2 lg:w-1/3 border-yd_pink-500 border">
    </div>

    <!-- Section -- Options image -->
    <section class="grid grid-cols-1 lg:grid-cols-2 gap-20 lg:gap-40 pt-20 px-4">
        <div class="w-full flex flex-col justify-start items-center text-yd_purple-700">
            <h2 class="font-bold text-center text-2xl lg:text-5xl leading-normal text-yd_purple-800"
            data-aos-once="true" data-aos="zoom-in">
                Option&nbsp;Shopping&nbsp;List</h2>
            <div class="mt-8 lg:mt-20 text-lg lg:text-xl _yd-center-justified"
            data-aos-once="true" data-aos="zoom-in" data-aos-delay="100">
                <p>
                    Une organisation fonctionnelle passe entre autres par l'achat de contenants
                    permettant une harmonie de vos espaces de rangement et qui vous faciliteront le rangement quotidien
                    sur le long terme.
                </p>
                <br>
                <p>
                    Nous faisons une Shopping List personnalisée avec des solutions de rangement
                    parfaitement adaptées aux espaces que vous voulez organiser.
                </p>
                <br>
                <p>
                    Le coût de ces achats n’est pas compris dans la
                    prestation des YD rangées.
                </p>
                <div class="mt-8 lg:mt-20 text-yd_pink-600">
                    <p>
                        Option Shopping List : 50€
                    </p>
                </div>
            </div>
        </div>
        <div class="w-full flex flex-col justify-start items-center text-yd_purple-700">
            <h2 class="font-bold text-center text-2xl lg:text-5xl leading-normal text-yd_purple-800"
            data-aos-once="true" data-aos="zoom-in" data-aos-delay="200">
                Option&nbsp;Shopping</h2>
            <div class="mt-8 lg:mt-20 text-lg lg:text-xl _yd-center-justified"
            data-aos-once="true" data-aos="zoom-in" data-aos-delay="300">
                <p>
                    Une fois la Shopping List validée, vous avez le choix de faire les achats
                    vous-même ou de nous confier cette tâche.
                </p>
                <br>
                <p>
                    En choisissant l'option Shopping, les YD rangées gère les
                    commandes, les livraisons, les éventuels retours etc...
                </p>
                <div class="mt-8 lg:mt-20 text-yd_pink-600">
                    <p>
                        Forfait Shopping List & Shopping : 80 €
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
<module href="/components/prestation/footer_prestation.html"></module>
