.nav {
  height: 55px;
  width: 100%;
}

.nav > .nav-header {
  display: inline;
}

nav * {
  color: #dbf4ff;
  transition: all ease-in-out .3s;
}

nav a:hover,
nav a:hover * {
  color: #75d3ff;
  fill: #75d3ff;
}

//nav a::after {
//  content: '';
//  position: absolute;
//  bottom: 0;
//  left: 0;
//  width: 100%;
//  height: 2px;
//  background-color: #75d3ff;
//  opacity: 0;
//  transition: opacity 300ms, transform 300ms;
//}
