.nav {
  height: 55px;
  width: 100%;
}

.nav > .nav-header {
  display: inline;
}

nav * {
  color: #dbf4ff;
  transition: all ease-in-out .3s;
}

nav a:hover,
nav a:hover * {
  color: #75d3ff;
  fill: #75d3ff;
}

@media screen and (min-width: 1024px) {
  #navLinks a::after {
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #75d3ff;
    opacity: 0;
    transform: scale(0);
    transition: opacity 300ms, transform 300ms;
    z-index: 40;
  }

  #navLinks a:hover::after {
    opacity: 1;
    transform: scale(1);
  }
}
