<footer class="w-full container mx-40">
    <div class="w-full flex justify-center items-center">
        <hr class="w-1/3 border-yd_pink-500 border">
    </div>
    <div class="mt-20 mb-10 w-full">
        <h2 class="text-center text-3xl text-yd_purple-600 uppercase font-bold">Les yd Rangées</h2>
    </div>
    <div class="mt-30 grid grid-cols-3">
        <div class="text-center text-yd_purple-600">
            <h2 class="font-bold text-xl">
                secteurs d'intervention
            </h2>
            <div class="font-bold mt-10">
                <p>
                    Thonon-les-Bains
                </p>
                <p>
                    Haute-Savoie & Suisse voisine
                </p>
            </div>
        </div>
        <div class="text-center text-yd_purple-600">
            <h2 class="font-bold text-xl">
                Contact
            </h2>
            <div class="font-bold mt-10">
                <p>
                    Laura & Tamara
                </p>
                <p>
                    06 74 56 27 01 - 06 50 10 31 70
                </p>
                <p>
                    les.yd.rangees@gmail.com
                </p>
                <br>
                <a href="#">page contact</a>
            </div>
        </div>
        <div class="text-center text-yd_purple-600">
            <h2 class="font-bold text-xl">
                suivez-nous
            </h2>
            <div class="font-bold mt-10">
                <div class="w-full flex justify-center items-center">
                    <a class="flex justify-center items-center mx-5" href=""><img class="h-50px w-50px"
                                                                                  src="./images/4494463-social-media/svg/001-facebook.svg"
                                                                                  alt="facebook les YD Rangées"></a>
                    <a class="flex justify-center items-center mx-5" href=""><img class="h-50px w-50px"
                                                                                  src="./images/4494463-social-media/svg/005-instagram.svg"
                                                                                  alt="instagram les YD Rangées"></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- todo trait multicolore + mentions légales -->
<div class="mx-40 py-10 flex justify-center items-center text-center text-yd_purple-600 uppercase text-sm">
    <p>
        ©2021 par Les YD rangées SAS - Tous droits réservés
    </p>
</div>
<!-- bundle.js -->
<script src="./bundle.js"></script>
</body>
</html>
